[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
requests = "*"
lxml = ">=4.6.2"
cssselect = "*"
pandas = ">=0.17"
xlrd = "*"
namestand = "*"
us = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
